@using Lawliet.Data;
@using Microsoft.Extensions.Caching.Memory;
@using Lawliet.Services;
@model User;

@{
    if (!Context.User.Identity.IsAuthenticated || Model == null) {
        Context.Response.Redirect($"/auth/login/");
        return;
    }

    var user = Model;
    var topics = user.Topics;

    var pictureUrl = @user.PictureUrl;
}

<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #0d6efd; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="@pictureUrl" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                            <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;"><a href="/profile/edit?id=@user.Id">Ред. профиль</a></button>
                        </div>
                        <div class="ms-3" style="margin-top: 100px;">
                            <h5>@user.Name</h5>
                            <p>Статус: @((user.Status == "Teacher") ? "Учитель" : "Ученик")</p>
                            <p style="margin-top: -15px;">Темы: @topics.Count()</p>
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        @if(user.Status == "Teacher") {
                            <div class="d-flex justify-content-end text-center py-1">
                                <div>
                                    <a href="/topic/add/">
                                        <button type="button" class="btn btn-primary" style="margin-top: -5px;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard2-plus" viewBox="0 0 16 16">
                                                <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"></path>
                                                <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"></path>
                                                <path d="M8.5 6.5a.5.5 0 0 0-1 0V8H6a.5.5 0 0 0 0 1h1.5v1.5a.5.5 0 0 0 1 0V9H10a.5.5 0 0 0 0-1H8.5V6.5Z"></path>
                                            </svg>
                                            Кнопка
                                        </button>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="card-body p-4 text-black">
                        @if (!string.IsNullOrEmpty(user.AboutMe)) {
                            <div class="mb-5">
                                <p class="lead fw-normal mb-1">О учителе</p>
                                <div class="p-4" style="background-color: #f8f9fa;">
                                    <p>@user.AboutMe</p>
                                </div>
                            </div>
                        }

                        <div class="row g-2">
                            @{
                                if (topics.Count() > 0) {
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <p class="lead fw-normal mb-0">Последние опубликованные темы</p>
                                    </div>

                                    foreach (var topic in topics.Take(4)) {
                                        <div class="col-md-6">
                                            <div class="card mb-6 box-shadow">
                                                <div class="card-body">
                                                    <h5 class="card-title">@topic.ShortTitle</h5>
                                                    <p class="card-text">@((topic.Description!.Length <= 70) ? string.Join("", topic.Description!.Take(70)) : string.Join("", topic.Description!.Take(70)) + "...")</p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="btn-group">
                                                            <a href="@topic.Url"><button type="button" class="btn btn-sm btn-outline-secondary">Читать</button></a>
                                                            <a href="/Topic/Edit?id=@topic.Id"><button type="button" class="btn btn-sm btn-outline-secondary">Изменить</button></a>
                                                        </div>
                                                        <small class="text-muted">@topic.DateCreation.ToShortDateString()</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    a {
        color: black;
    }

        a:hover {
            color: black;
            cursor: default;
            text-decoration: none;
        }
</style>